$common-padding: 8px;
$common-transition: all 0.1s linear;
$common-font-color: #1e1e1e;
$common-font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;

$common-color-primary: #3385ff;
$common-color-background: #f8f8f8;
$common-color-hover: #45a7f2;
$common-color-border: #e0e0e0;
$common-color-sub-text: #666666;
